@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* min-height: 100vh;
  display: flex;
  flex-direction: column; */
  /* background-color: #00000081; */
}

body {
  overflow-y: hidden; /* Prevent scrolling down */
}

.rubik-wet paint-regular {
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
}

.rubik-wet {
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
}

.gradient-background {
  background: linear-gradient(to bottom, #6b6b6b, #7c7979);
}

.information {
  opacity: 0;
  height: 0;
  transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}

.show-info {
  opacity: 1;
  height: 17rem;
}

.show-specific-info,
.show-specific-info.hide {
  transition: opacity 0.5s ease;
}

.show-specific-info {
  opacity: 1;
  pointer-events: auto;
}

.show-specific-info.hide {
  opacity: 0;
  pointer-events: none;
}
