@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* min-height: 100vh;
  display: flex;
  flex-direction: column; */
  /* background-color: #6b6b6b; */
}

body {
  overflow-y: hidden;
}
/* general */
.rubik-wet paint-regular {
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
}

.rubik-wet {
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
}

.montserrat-body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gray-background {
  background: #727171;
}
/* General info */
.information {
  opacity: 0;
  height: 0;
  pointer-events: none;

  transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}

.show-info {
  opacity: 1;
  height: 23rem;
  transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}

/* Media query for phones */
@media only screen and (max-width: 600px) {
  .show-info {
    opacity: 1;
    height: 24rem;
  }
}

.show-general-button {
  opacity: 0.7;
  pointer-events: auto;
}

.show-general-button-hide {
  opacity: 0;
  pointer-events: none;
}

/* Specific info */
.show-specific-info,
.show-specific-info-hide,
.show-general-button,
.show-general-button-hide,
.show-loading,
.show-loading-hide {
  transition: opacity 0.5s ease;
}

.show-specific-info {
  opacity: 1;
  pointer-events: auto;
}

.show-specific-info-hide {
  opacity: 0;
  pointer-events: none;
}

.show-loading,
.show-loading-hide {
  transition: opacity 0.5s ease, transform 1s ease;
}

.show-loading {
  /* opacity: 1; */
  transform: translateY(0);
  pointer-events: auto;
}

.show-loading-hide {
  /* opacity: 0; */
  transform: translateY(100%);
  pointer-events: none;
}
